<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FoxOffice.Tests Rule Set" ToolsVersion="15.0">
  <Include Path="FoxOffice.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE1006" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1300" Action="None" />
  </Rules>
</RuleSet>